.content-container {
  display: flex;
}

.ingredients-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 30px;
  width: 90vw;
}

.byingredients-container {
  background-image: url('../images/openedBook.png');
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  padding-top: 45px;
  width: inherit;
}

.ingredient-button {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}
