@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Handlee&display=swap') ;

.container-icon {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  height: 100%;
}

.Header {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.45);
  border-radius: 0 0 19px 19px;
  color: white;
  display: flex;
  height: 40px;
  justify-content: space-between;
  min-width: 360px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: inherit;
  z-index: 1;
}

.title {
  align-items: center;
  display: flex;
  font-family: Comic Neue , cursive;
  font-size: 30px;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.explore-icon {
  align-items: center;
  display: inline-block;
  height: 30px;
  text-align: center;
}
